@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.b {
  border: 1px solid red;
}

.service__btn, .vertual-heal__btn, .provider-heal__btn {
  width: 200px;
  height: 56px;
  stroke-width: 1.4px;
  border-radius: 55px;
  border-color: #458ff6;
}
.service__btn span, .vertual-heal__btn span, .provider-heal__btn span {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #458ff6;
}

.service__item {
  border-radius: 20px;
  width: 350px;
  height: 354px;
  background-color: #fff;
}

.header {
  padding-top: 135px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__site-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 160px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding-left: 7px;
}

.header__title {
  font-weight: 700;
  font-size: 24px;
  color: #233348;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__item {
  font-weight: 400;
  font-size: 18px;
  color: #1f1534;
  opacity: 0.5;
}

.active {
  font-weight: 700;
  font-size: 18px;
  color: #1f1534;
  opacity: 1;
}

.provider-heal {
  margin-top: 122px;
}

.provider-heal__block {
  background-image: url("../../image/providerHeal.svg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.provider-heal__about {
  width: 422px;
  margin-left: auto;
  margin-top: 57px;
  margin-bottom: 33px;
}

.provider-heal__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 156%;
  color: #000;
}

.provider-heal__sub_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  color: #7d7987;
}

.provider-heal__btn {
  margin-top: 40px;
}

.vertual-heal {
  padding-top: 80px;
}

.vertual-heal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertual-heal__title_block {
  margin: 106px 108px 0px 6px;
}

.vertual-heal__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: #000;
}

.vertual-heal__sub_title {
  font-weight: 300;
  font-size: 21px;
  line-height: 152%;
  color: #7d7987;
  margin-top: 25px;
  margin-bottom: 39px;
}

.vertual-heal__btn {
  margin-right: 7px;
}

.service {
  padding-top: 169px;
}

.service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 952px;
}

.service__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 156%;
  color: #000;
}

.rectangle {
  border-radius: 5px;
  width: 56px;
  height: 2px;
  background: #000;
  margin-top: 26px;
  margin-bottom: 33px;
}

.service__sub_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #7d7987;
}

.service__list {
  min-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 78px;
  gap: 37px;
}

.service__item {
  -webkit-box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);
}

.service__item_block {
  margin-top: 54px;
  margin-left: 37px;
}

.service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 233%;
  color: #000;
}

.service__sub_title {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: #7d7987;
}

.service__btn {
  margin-top: 71px;
}/*# sourceMappingURL=main.css.map */