.provider-heal {
    margin-top: 122px;
}

.provider-heal__block {
    background-image: url("../../image/providerHeal.svg");
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.provider-heal__about {
    width: 422px;
    margin-left: auto;
    margin-top: 57px;
    margin-bottom: 33px;
}

.provider-heal__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 156%;
    color: #000;
}

.provider-heal__sub_title {
    font-weight: 300;
    font-size: 18px;
    line-height: 167%;
    color: #7d7987;
}

.provider-heal__btn{
    @extend %button-base;
    margin-top: 40px;
}